@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/1d8aa3902ed39929de0912f0ff2bb89f?family=Centra+No2+Bold'); */

@font-face {
  font-family: 'PWC-Medium';
  src: url('../../public/styles/fonts/PWCentraNo2-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'PWC-Bold';
  src: url('../../public/styles/fonts/PWCentraNo2-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'BankGothic-Medium';
  src: url('../../public/styles/fonts/Bank_Gothic_Medium.otf') format('opentype');
}

body {
  font-family: 'PWC-Medium', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.logo,
.logo-color {
  color: #001d6b;
}

.wrapper {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-container {
  /* overflow-y: scroll;
  overflow-x: hidden; */
  /* height: 100vh; */
  /* scroll-snap-type: y mandatory; */
}

.scroll-sections {
  height: 100vh;
  scroll-snap-align: start; /* Snap at the start of each section */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #f0f0f0;
}

.body::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

.no-show {
  /* opacity: 0;
  transform: translateX(-50%); */
  /* transition: all 1s; */
}

.show {
  opacity: 1;
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .no-show {
    transition: none;
  }
}

/* NEW CSS */
.custom-img {
  background-image: url('https://images.unsplash.com/photo-1600607687920-4e2a09cf159d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXJjaGl0ZWN0dXJlJTIwZGVzaWdufGVufDB8fDB8fHww&auto=format&fit=crop&w=1000&q=60');
}

.logo-text {
  font-family: 'BankGothic-Medium', sans-serif;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
